body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  padding: 5px 20px;
}

h2 {
  color: #3b5998;
}

.footer {
  text-align: center;
  color: #CCC;
}

.calendar {
  width: 700px;
}
