*, *:before, *:after {
  box-sizing: border-box;
}

:host {
  display: block;
  font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.calendar {
  width: 100%;
}

.col {
  vertical-align: top;
}

/* Left sided calendar time entries */
.calendar-times {
  width: 80px;
  color: #333;
  padding-right: 10px;
  position: relative;
  top: -15px;
}

.calendar-events--overlay {
  background: #ececec;
  border-left: 1px solid #d5d5d5;
  position: absolute;
  top: 0;
  bottom: 30px;
  left: 0;
  right: 0;
}

.calendar-times-time {
  text-align: right;
  font-weight: bold;
  font-size: 15px;
  color: #4e5665;
  line-height: 30px;
  height: 30px;
}

.calendar-times-time span,
.calendar-times-time:nth-of-type(even) {
  font-weight: normal;
  font-size: 10px;
  color: #9197a3;
}

.calendar-times-time:nth-of-type(even) span {
  display: none;
}

.calendar-events {
  position: relative;
}

.calendar-events--container {
  position: relative;
  margin: 0 10px;
}
