:host {
  background: yellow;
  display: block;
  border: 1px solid #CCC;
}

.calendar {
  width: 100%;
}

/* Left sided calendar time entries */
.calendar-times {
  background: greenyellow;
  width: 200px;
  color: #333;
}

.calendar-times-time {
  text-align: right;
  font-weight: bold;
  font-size: 16px;
}

.calendar-times-time span,
.calendar-times-time:nth-of-type(even) {
  font-weight: normal;
  font-size: 12px;
}

.calendar-times-time:nth-of-type(even) span {
  display: none;
}

.calendar-events {
  background: pink;
  padding: 0 10px;
}
