:host {
  display: block;
  border: 1px dotted #CCC;
}

.calendar {
  width: 100%;
}

/* Left sided calendar time entries */
.calendar-times {
  width: 90px;
  color: #333;
  padding-right: 10px;
}

.calendar-times-time {
  text-align: right;
  font-weight: bold;
  font-size: 16px;
  color: #4e5665;
  line-height: 25px;
}

.calendar-times-time span,
.calendar-times-time:nth-of-type(even) {
  font-weight: normal;
  font-size: 12px;
  color: #9197a3;
}

.calendar-times-time:nth-of-type(even) span {
  display: none;
}

.calendar-events {
  background: #ececec;
  border-left: 1px solid #d5d5d5;
  padding: 0 10px;
}
